.geomap-wrapper {
    width: 100%;
    height: calc(100vh - var(--nav-tp));
}

.propertyName {
    

        font-weight: 600 !important;
        font-size: var(--fs-xs);
    
   
}
.marker {
    width: 25px !important;
    height: 25px !important;
    
}