.right-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    & > * {
        margin: 0 10px;
    }

    & .addButton {
        cursor: pointer;
        font-weight: 500;
        color: var(--bs-gray-100);
        background-color: var(--bs-indigo);
        padding: var(--search-padding) !important;
    }

    & .search-wrapper {
        position: relative;
        margin: 0;


        & .search {
            z-index: 1;
            width: 150px;
            padding: var(--search-padding) !important;
            &:focus {
                transition: all 0.2s ease-in-out;
                width: 200px;
            }
        }


        & .search-icon {
            position: absolute;
            display: block;
            color: var(--bs-gray-600);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
}