.applyForm {

    padding: 20px;
    background-color: var(--bs-light);
    
}

.__receipt-image {
    position: absolute;
    opacity: 0;
}

.imageLabel {
    position: relative;
    border: 1px solid var(--bs-gray-200);
    border-radius: 6px;
    outline: none;
    padding: var(--input-padding);
    background-color: var(--bs-light);
    font-size: var(--fs-xs) !important;
    font-weight: 500 !important;
    cursor: pointer;
    width: 50%;
     display: flex;
     justify-content: center;
     z-index: 2;

    &:hover {
        transition: all 0.2s ease-in;
        background-color: var(--bs-indigo);
        color: var(--bs-light);
    }
}

.__image-container {
    display: flex;

    

    .chosenFile {
        background-color: var(--bs-light);
        padding: 0 20px;
        border-radius: 6px;
        height: auto;
        margin-left: 10px;
        display: flex;
        align-items: center;
        font-size: var(--fs-xs);
        cursor: default;
        
    }
}

.applyButton {
    color: var(--bs-light);
    background-color: var(--bs-indigo);
    padding: 12px 30px !important;
    border-radius: 10px !important;
    font-size: var(--fs-md);
}
.__footerButtons {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

