.__menu-wrapper {
    position: fixed !important;
    background-color: var(--bs-gray-100);
    right: 0;
    height: calc(60vh - var(--nav-tp));
    z-index: 20;
    width: 250px;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    

    .__menu-links-wrapper {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
        place-items: end;
        z-index: 30;
        width: 100%;
        

        &>* {
            text-decoration: none;
            padding: 6px 20px;
            background-color: var(--bs-gray-200);
            border-radius: 3px;
            width: 100%;
            text-align: end;
            color: var(--bs-dark);

            &.active {
                background-color: var(--bs-indigo) !important;
                color: var(--bs-light);
            }

        }
    }

    &.active {
        box-shadow: -2px 2px 7px 2px rgba(148, 148, 148, 0.5);
        transition: all 0.2s ease-in-out;
        transform: translateX(0);
    }

    .logoutBtn {
        display: block;
        width: 100%;
        text-align: center !important;
    }
}

@media screen and (min-width: 768px) {
    .__menu-wrapper {
        display: none;
    }
}